*{
    box-sizing: border-box;
}
.parent{
    padding: 5px;
    margin: 5px;
    background-color: dodgerblue;
    position: relative;
    height: 200vh;
}
.child-one{
    background-color: lightgreen;
    position: fixed;
    top: 0px;
}

.child-two{
    background-color: lightsalmon;
    
}

.child-three{
    background-color: lightpink;
    
}
.child{
    padding:5px;
}